.nickName {
  font-family: "Courier New", Courier, monospace;
  width: 10vw;
  height: 1rem;
}
.itemTime {
  width: 5vw;
  height: 2rem;
}
.unit {
  width: 1vw;
  height: 1rem;
  background-color: red;
  border-radius: 0.25rem;
}
.container {
  display: flex;
  justify-content: flex-start;
}
